* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #030e13;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #00fdf1 0%, #d004f8 100%);
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

/* Hero Section */
.main {
    background-color: #030e13;
}

.main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 50px;
    width: 100%;
    max-width: 1400px;
}

.main__content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.contact-page {
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Form Styling */
.contact-info,
.contact-form {
    width: 48%;
    margin-bottom: 20px;
}

.item {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}

.textb, .textarea {
    width: 100%;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 20px;
}

.textarea {
    resize: vertical;
    height: 150px;
}

.btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #06eff7 0%, #a306b8 100%);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    color: #db3434;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main__container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info, 
    .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .main__content h1 {
        font-size: 2rem;
    }

    .btn {
        width: 100%;
    }
}





