* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif; /* Corrected from 'sams-serif' */
}

.navbar {
    background: #030e13;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #00fdf1 0%, #d004f8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

/* Hero Section CSS */
.main {
    background-color: #030e13;
   
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    background-color: #030e13;
    background-image: linear-gradient(to bottom, transparent, #030e13), url("/images/background2.jpg");
    background-size: 1450px 800px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    min-height: 700px;
    
}

.main__content h1 {
    font-size: 4rem;
    margin: 50px;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;   
}

.main__content h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #21d4fd 0%, #b721ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 50px;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #06eff7 0%, #a306b8 100%);
    padding: 14px 33px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #03b83f;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.contact-page {
    width: 100%;
    max-width: 1400px;
    padding: 30px; /* Adjusted padding */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0; /* Remove bottom margin */
   
}

h2 {
    width: 100%;
    margin-bottom: 20px; /* Reduced margin-bottom for less white space */
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 60px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.item {
    margin-bottom: 4px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textb {
    width: calc(50% - 10px);
    height: 60px;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 10px; /* Reduced margin for less white space */
}

.textarea {
    width: 100%;
    max-height: 600px;
    max-width: 400px;
    resize: vertical;
    padding: 22px;
    background-color: #333;
    border: none;
    color: #fff;
    margin-bottom: 10px; /* Reduced margin for less white space */
}

.btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #06eff7 0%, #a306b8 100%);
    padding: 20px 45px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: auto;
    cursor: pointer;
    position: relative;
    transition: 0.35s;
    outline: none;
}

.btn:hover {
    background-color: transparent;
    color: #db3434;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto; /* Stack elements vertically */
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 0 20px; /* Adjust padding for mobile */
    }

    .main__content h1 {
        font-size: 3.5rem; /* Adjusted font size for mobile */
        text-align: center;
    }

    .main__content h2 {
        font-size: 1.5rem; /* Adjusted font size for mobile */
        text-align: center;
    }

    .main__content p {
        font-size: 2rem; /* Adjusted font size for mobile */
        text-align: center;
        
    }

    h2 {
        font-size: 30px; /* Adjusted for mobile */
        margin-bottom: 20px; /* Reduced for mobile */
        text-align: center;
      
    }

    .contact-info,
    .contact-form {
        flex-basis: 100%; /* Full width on mobile */
    }

    .textb,
    .textarea {
        width: 100%; /* Full width for inputs on mobile */
        margin-bottom: 20px; /* Space between inputs */
    }

    .btn {
        width: 100%; /* Full width button */
    }
}

/* Larger screens adjustments */
@media screen and (min-width: 768px) {
    .contact-page {
        flex-direction: column; /* Stack the form under contact info on larger screens */
        
        padding-bottom: 20px; /* Reduced padding for less white space */
    }

    .contact-info {
        margin-bottom: 30px; /* Space between contact info and form */
        flex: 1;
    }

    .contact-form {
        flex: 1;
        max-width: 600px;
    }

    .textb {
        width: 100%;
    }

    .textarea {
        width: 100%;
    }
}

/* Styling for even larger screens */
@media screen and (min-width: 1200px) {
    .contact-page {
        max-width: 1200px;
        padding: 50px;
        flex-direction: column; /* Ensure the form stays under contact info */
        
    }

    .textb, .textarea {
        font-size: 18px;
    }

    .contact-info {
        font-size: 18px;
        margin-bottom: 30px; /* Space between contact info and form */
        
    }
}







