/* Universal Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Body and Background Settings */
body {
    background-color: #030e13;
    color: #fff; /* Default text color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Navbar Styling */
.navbar {
    background: #030e13;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #0dd2ec 0%, #9d04f5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Navbar Links */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: auto;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__links:hover {
     color: #1ab2ee;
    transition: all 0.3s ease;
}

/* Main Section */
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
    background-image: url('background2.jpg');
    background-size: cover;
    padding: 50px;
}

.main__content h1 {
    font-size: 4.5rem;
    background-image: linear-gradient(to top, #b721ff 0%, #00f7ff 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    margin-top: 50px;
}

.main__content h2 {
    font-size: 2rem;
    background-image: linear-gradient(to top, #21d4fd 0%, #b721ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__content p {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 1rem;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #06eff7 0%, #a306b8 100%);
    padding: 14px 33px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #03b83f;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}


.main__img--container {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

#main__img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 50px;
}

#sdlc, .sdlc__img--container  {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block; /* Ensures the image behaves like a block element */
    margin: 0 auto; /* Centers the image */ 
}

/* Services Section */
.services {
    background: #030e13;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 43vh;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 65px;
}

.services__card {
    margin: 1rem;
    height: 250px;
    width: 350px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('pic7.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    transition: 0.2s ease-in; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced within the card */
    align-items: center; /* Centers content horizontally */
    padding-bottom: 20px; /* Adds spacing at the bottom */ 
}

.services__card:hover {
    transform: scale(1.075);
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('pic3.jpg');
}

.services__card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('pic6.jpg');
}

.services h2 {
    position: absolute;
    top: 310px;
    left: 30px;
}

.services__card h6 {
    color: #fff; /* Set text color to white */
    text-align: center; /* Center the text */
    position: absolute;
    top: 10px; /* Position at the top of the card */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0;
    padding: 0;
    z-index: 2; /* Ensure it stays above other content */
}

.services__card p {
    position: absolute;
    top: 350px;
    left: 30px;
}

/* About, Skills, and Projects Sections */
.about-skills-container, .projects-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows sections to wrap on small screens */
    padding: 0 50px;
    margin-top: 50px;
    max-width: 100%;
    gap: 50px; /* Adds space between the sections */
}

/* About Section */
.about-section, .skills-section {
    flex: 1; /* Each section takes up 50% of the width */
    padding: 20px;
    background: #1c1c1c;
    border-radius: 8px;
}

.about-section h3 {
    font-size: 2.5rem;
    color: #0099ff;
}

.about-section h2 {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
}

/* Skills Section */
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 8px;
    text-align: center;
}

/* Tag Title */
.tag-title {
    font-size: 2.5rem;
    color: #f77062;
    
}

/* Tag Cloud Styling */
.content {
    display: flex;
    justify-content: center; /* Centers the tag cloud horizontally */
    flex-wrap: wrap;
}

.tag {
    background-color: ##1c1c1c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #f77062;
}

/* Projects Section */
.projects-section {
    width: 100%; /* Default width for large screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #111;
    border-radius: 8px;
    text-align: center;
}

.projects-section h3 {
    font-size: 2.5rem;
    color: #f77062;
}

.projects-section .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  
}

.project-card {
    background: #1c1c1c;
    color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card h4 {
    font-size: 1.8rem;
    color: #f77062;
}

.project-card p {
    font-size: 1rem;
    color: #ccc;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #05cdff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.project-card a:hover {
    background-color: #af01ff;
}

/* professional-experience-section */
.experience_container {
    padding: 0 50px;
    margin-top: 50px;
    max-width: 100%;
}
.professional-experience, .project1, .project2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Allows sections to wrap on small screens */
    padding: 0 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    gap: 10px; /* Adds space between the sections */
    width: 100%; /* Default width for large screens */
    padding: 20px;
    background: #1c1c1c;
    border-radius: 8px;
}

.professional-experience h5, .project1 h5, .project2 h3, .project1 h3, .professional-experience h3 {
    font-size: 2.5rem;
    color: #f6f6f6;
    text-align: center;
    width: 100%;
}

.professional-experience h4, .professional-experience dl, .project1 h4, .project1 dl, .project2 h4, .project2 dl {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
}

.experience_container h5 {
    font-size: 3.5rem;
    color: #0099ff;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar__container {
        flex-direction: column;
    }

    .navbar__menu {
        flex-direction: column;
        display: none; /* Mobile menu toggle */
    }

    .navbar__toggle {
        display: block;
        cursor: pointer;
    }

    /* About, Skills, and Projects Sections */
    .main__container {
        display: flex;
        flex-direction: column;  /* Stack items vertically */
        justify-content: center;
        align-items: center;
        padding: 1px;
    }

    .main__container p {
        text-align: center;
        margin-bottom: 40px;
    }

    .main__content {
        text-align: center; /* Centers text and elements inside */
    }

    .main__btn {
        margin: 0 auto; /* Centers button horizontally */
    }

    .main__img--container {
        margin-left: 0; /* Remove left margin */
        margin-top: 20px; /* Space between button and image */
    }

    #main__img {
        width: 350px; /* Reduce image size */
        height: 350px; /* Maintain aspect ratio */
        margin-top: 30px;
    } 

    .services__container {
        flex-direction: column; /* Stack service cards vertically */
        align-items: center;
    }

    .services__card {
        width: ; /* Reduce the width of the cards on small screens */
        margin-bottom: 20px; /* Add space between cards */
    }

    .services {
        height: auto; /* Adjust height to fit the content */
    }

     .tag {
        font-size: 3rem; /* Reduce font size for smaller screens */
        padding: 5px; /* Adjust padding for smaller tags */
    }


    .about-skills-container, .projects-container, .experience_container 
    {
        flex-direction: column; /* Stack sections vertically on smaller screens */
        align-items: center; /* Center the items */
        padding: 0 20px; /* Less padding on smaller screens */
    }

    .about-section, .skills-section, .projects-section {
        width: 100%; /* Make each section take full width */
    }

    .about-section {
        margin-top: 20px; /* Add some spacing on small screens */
    }

    .skills-section {
        margin-top: 20px;
    }

    .projects-section {
        margin-top: 20px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 1rem;
        
    }

    h3 {
        font-size: 1.5rem;
        text-align
    }

       




